body div{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    /*background-color: #ccc;*/
    /*border-radius: 3px;*/
}