.body{
  background-image: url("background.jpg");
}

/*.centered-text{*/
/*  height: 100%;*/
/*  width: 100%;*/
  /*display: flex;*/
/*  position: fixed;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.centered-text form{*/
/*    font-size: 30px;*/
/*    border:2px solid black;*/
   
/*}*/

.row .col .btn-secondary{
  text-align: center;
}

.row .col{
  text-align: center;
}

#confirmationTableDiv{
  width: 50%;
  margin: auto !important;
}